<h2>List of ratings</h2>

<ul>
 <% @ratings.each do |rating| %>
   <li> <%= rating %> <%= link_to 'delete', rating_path(rating.id), method: :delete %> </li>
 <% end %>
</ul>

<p> Number of ratings: <%= @ratings.count %> </p>
<%= link_to 'New rating', new_rating_path %>