<h1>
  <strong><%= @style.name %></strong>
</h1>

<quote>
  <%= @style.description %>
</quote>

<p>
<% if @beers.empty? %>
  doesn't have beers yet
<% else %>
<p><strong>Beers with this style:</strong></p>
  <% @beers.each do |beer| %>
    <tr>
      <td><%= link_to beer.name, beer %></td>
    </tr>
  <% end %>
<% end %>
</p>

<%= edit_and_destroy_buttons(@style) %>
